*{
    text-decoration: none;
}
body {
    background-color: #0ca6df;
    color: white;
    font-family: Arial, sans-serif;
}
body h2{
    color: black;
}

nav {
    text-align: center;
    
}

header h1{
    text-align: center;
    font-size: 45px;
    font-family: "Montserrat", serif;
    font-style:bolder;
    text-shadow: 1px 2px rgb(37, 34, 34) ;
}

header{
    background-color:#8b1db6;
    padding: 10px;
    border-radius: 10px;
}
nav li {
    cursor: pointer;
    display: inline;
    list-style-type: none;
    padding: 10px;
    justify-content: space-evenly;
    margin: 16px auto;
    font-size: 25px;
}


nav li:hover{
    font-size: 29px;
    color: rgb(243, 208, 11);
    
}
.banner {
    width: 100%;
    border-radius: 10px;
    height: 600px;
    
}
.presentacion {
    font-size: 20px;
    text-align: justify;
    display: grid;
    background-color: rgba(219, 212, 212, 0.377);
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    margin: 10px;
}
.presentacion, h2{
    text-align: center;
}
.presentacion:hover{
    transform: translateY(-5px);
}

/* Titulos */

#titulo_principal{
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}


.titulo_lenguaje{
    font-size: 50px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-style: bold;
}



/* Tamaño de las imagenes */

#img_guia{
    width: 720px;
    height: 250px;
}
.imguia{
    border-radius: 10px;
    width: 1000px;
    height: 250px;
    margin: 10px;
position: relative;
left: 340px;

}
.lenguaje_logo{
    height: 150px;
    width: 200px;
}

#logo_html{
    width: 300px;
    height: 200px;
}

.imagenes {
border-radius: 10px;
position: relative;
right: 200px;
}
/* Opciones de los lenguajes a leeer */

.menu_lenguajes li{
    list-style: none;
    display: inline;
    justify-content: space-evenly;
    padding: 20px;
    font-size: 40px;
    margin-left: 12rem;
    position: relative;
    cursor: pointer;
    
}

/* videos  */
.vid{
    margin: 2rem;
    margin-left: 25rem;
    
}

.card{
    text-align: justify;
    font-size: 20px;
    display: grid;
    background-color: rgba(219, 212, 212, 0.377);
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    margin: 10px;
}

.card:hover{
    transform: translateY(-5px);
}

.card  img{
    margin-left: 35rem;
}